body{
    margin: 0px;
}
.form1{
    margin: 20px auto;
    background-color: aliceblue;
    width: 600px;
    padding: 20px;  
    
}
.form1 input{
    width: 500px;
    height: 20px;
    margin: 5px;
    color: darkblue;
    border: 5px solid skyblue;
}
.form1 textarea{
    width: 500px;
    height: 40px;
    margin: 5px;
    color: darkblue;
    border: 5px solid skyblue;
}
.form1 input:hover{
    border-color: darkblue;
}
.form1 textarea:hover{
    border-color: darkblue;
}
.form1 button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(238, 199, 164);
    border: none;
    border-radius: 3px;
    color: darkblue;
}
