.form{
    background-color: aliceblue;
    width: 600px;
    margin: 150px auto;
    padding: 20px ;
}
.form button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(238, 199, 164);        
    border: none;
    border-radius: 3px;
    color: darkblue;
}
.form_input{
    text-align: center;
}
.form h1{
    color: darkslateblue;
}
.form_input input{
    margin: 10px 30px;
    text-align: center;
    padding: 10px 30px;
    border: none;
}
.password label{
    margin: 10px 17px;
    text-align: end;
}
.adminLogin{
    padding: 1px ;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://media.istockphoto.com/id/1064279702/vector/team-learning-trainings-and-seminars.jpg?s=612x612&w=0&k=20&c=BHvw0yOcnQtDTtS5HUl2nH6dPvBQeqGefRTw58WSDHI=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}