.body{
   margin: 0px;
   /* background-size: cover; */
}
.book_list{
    margin: 0px;
    /* background-image:'images/bck_.png' ; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../public/images/bck_.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000vh;
}
.bookCard{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    /* justify-content: space-evenly; */
    padding: 10px 20px;
    margin: 20px;
    /* box-shadow: inset; */
    
}
.bookCard button{
    background-color: steelblue;
    padding: 7px 15px;
    border: none;
    color: aliceblue;
    margin: 10px;
}
.bookCard_detail{
    padding-left: 200px;
}