.form1 {
    background-color: aliceblue;
    width: 600px;
    margin: 150px auto;
    padding: 20px;
}

.form1 button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: aquamarine;
    border: none;
    border-radius: 3px;
}

.form_input {
    text-align: center;
}

.form h1 {
    color: darkslateblue;
}

.form_input input {
    margin: 10px 30px;
    text-align: center;
    padding: 10px 30px;
    border: none;
}

.password label {
    margin: 10px 17px;
    text-align: end;
}