body{
    margin: 0px;
}

.user_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}
.userCard{
    background-color: aliceblue;
    text-align: center;
    padding: 20px 40px;
    margin: 20px;
    
}
.userCard button{
    background-color: steelblue;
    padding: 7px 15px;
    border: none;
    color: aliceblue;
    margin: 10px;
}